[submodule "client-gateway"]
	path = client-gateway
	url = https://valentinr19@bitbucket.org/curso-msv/client-gateway.git
[submodule "products-msv"]
	path = products-msv
	url = https://valentinr19@bitbucket.org/curso-msv/products-msv.git
[submodule "orders-msv"]
	path = orders-msv
	url = https://valentinr19@bitbucket.org/curso-msv/orders-msv.git
