[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/ValentinR19/client-gateway.git
[submodule "products-msv"]
	path = products-msv
	url = https://github.com/ValentinR19/products-msv.git
[submodule "orders-msv"]
	path = orders-msv
	url = https://github.com/ValentinR19/orders-msv.git
