[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/ValentinR19/client-gateway.git
[submodule "products-msv"]
	path = products-msv
	url = https://github.com/ValentinR19/products-msv.git
[submodule "orders-msv"]
	path = orders-msv
	url = https://github.com/ValentinR19/orders-msv.git
[submodule "client-gateway-msv"]
	path = client-gateway-msv
	url = https://github.com/ValentinR19/client-gateway.git
[submodule "payments-msv"]
	path = payments-msv
	url = https://github.com/ValentinR19/payments-msv.git
[submodule "auth-msv"]
	path = auth-msv
	url = https://github.com/ValentinR19/auth-msv.git
